In [1]:
import pandas as pd
import numpy as np
from src import format
import string

In [2]:
clubs = format.clean_data()

In [3]:
clubs.sample(10)

,Club Status,Ship City,Ship State Code,Ship Zip,Cancel Reason,Last Processed Date,Last Order Date_x,Club,Customer Number,Shipments (note that these don't necessarily mean orders),...,age,isPickup,clubLength,Customer No.,Number Of Transactions,Lifetime Value_y,Last Order Date_y,Last Order Amount,Quantity,Total
495,Active,Orinda,CA,94563,NaN,2/4/19,2/4/19,3-Bottle,12245,8,...,36.000000,False,2.583333,12245,13.0,"$1,814.64",2/4/19,$172.44,51.0,1476.25
1600,Cancelled,Dundee,MI,48131,Cutting Expenses/Lost Job,4/2/18,6/15/18,3-Bottle,19648,5,...,41.000000,False,1.333333,19648,10.0,"$1,545.00",6/15/18,$162.18,NaN,NaN
1667,OnHold,Simi Valley,CA,93065,NaN,2/4/19,2/4/19,3-Bottle,19939,9,...,114.000000,False,2.000000,19939,12.0,"$1,559.39",2/4/19,$172.44,NaN,NaN
2242,Cancelled,Napa,CA,94559,Cutting Expenses/Lost Job,7/9/18,7/9/18,3-Bottle (Industry),22608,2,...,31.000000,True,0.666667,22608,14.0,"$1,273.74",7/9/18,$108.86,NaN,NaN
2417,Cancelled,Calistoga,CA,94515,Other,11/27/17,3/24/19,3-Bottle,23222,1,...,30.000000,True,1.333333,23222,24.0,"$1,750.39",3/24/19,$72.41,NaN,NaN
1595,Active,Aurora,CO,80013,NaN,2/4/19,2/28/19,3-Bottle,19627,8,...,40.000000,False,2.666667,19627,26.0,"$2,470.56",2/28/19,$0.00,NaN,NaN
32,Cancelled,Laplace,LA,70068,Switched Club Level,2/1/16,2/4/19,6-Bottle,7342,5,...,68.000000,False,4.583333,7342,13.0,"$1,320.57",2/4/19,$169.21,21.0,587.70
3816,Active,Wayzata,MN,55391,NaN,2/4/19,2/4/19,3-Bottle,34109,2,...,54.000000,False,1.416667,34109,5.0,$563.49,2/4/19,$162.00,NaN,NaN
4017,Cancelled,new york,NY,10013,Cutting Expenses/Lost Job,2/4/19,2/4/19,6-Bottle,34817,1,...,42.000000,False,1.250000,34817,4.0,$526.36,2/4/19,$288.25,NaN,NaN
92,Cancelled,Calistoga,CA,94515,NaN,NaN,NaN,6-Bottle,8106,0,...,49.745787,False,0.000000,8106,0.0,$0.00,NaN,$0.00,NaN,NaN

In [7]:
clubs.columns

Index(['Club Status', 'Bill Birth Date', 'Ship Birth Date', 'Ship City',
       'Ship State Code', 'Ship Zip', 'Pickup Location', 'Cancel Date',
       'Cancel Reason', 'Last Processed Date', 'Last Order Date_x', 'Club',
       'Customer Number', 'Signup Date',
       'Shipments (note that these don't necessarily mean orders)',
       'Lifetime Value_x', 'ltv', 'age', 'isPickup', 'cancel', 'signup',
       'clubLength', 'Customer No.', 'Number Of Transactions',
       'Lifetime Value_y', 'Last Order Date_y', 'Last Order Amount',
       'Quantity', 'Total'],
      dtype='object')

In [6]:
clubs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4366 entries, 0 to 4365
Data columns (total 29 columns):
Club Status                                                  4365 non-null object
Bill Birth Date                                              4366 non-null object
Ship Birth Date                                              4035 non-null object
Ship City                                                    4366 non-null object
Ship State Code                                              4366 non-null object
Ship Zip                                                     4366 non-null object
Pickup Location                                              1213 non-null object
Cancel Date                                                  2071 non-null object
Cancel Reason                                                1826 non-null object
Last Processed Date                                          3827 non-null object
Last Order Date_x                                            4344 non-null object
Club                                                         4366 non-null object
Customer Number                                              4366 non-null int64
Signup Date                                                  4366 non-null object
Shipments (note that these don't necessarily mean orders)    4366 non-null int64
Lifetime Value_x                                             4366 non-null object
ltv                                                          4366 non-null float64
age                                                          4366 non-null float64
isPickup                                                     4366 non-null bool
cancel                                                       4366 non-null object
signup                                                       4366 non-null object
clubLength                                                   4366 non-null float64
Customer No.                                                 4366 non-null int64
Number Of Transactions                                       4366 non-null float64
Lifetime Value_y                                             4366 non-null object
Last Order Date_y                                            4344 non-null object
Last Order Amount                                            4366 non-null object
Quantity                                                     1201 non-null float64
Total                                                        1201 non-null float64
dtypes: bool(1), float64(6), int64(3), object(19)
memory usage: 993.4+ KB

In [2]:
path = '../club_members.csv'
clubs = pd.read_csv(path)

In [3]:
clubs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4366 entries, 0 to 4365
Data columns (total 19 columns):
Club                                                         4366 non-null object
Club Status                                                  4358 non-null object
Customer Number                                              4366 non-null int64
Bill Birth Date                                              4026 non-null object
Bill City                                                    4361 non-null object
Bill State Code                                              4361 non-null object
Bill Zip                                                     4358 non-null object
Ship Birth Date                                              3986 non-null object
Ship City                                                    4360 non-null object
Ship State Code                                              4360 non-null object
Ship Zip                                                     4357 non-null object
Pickup Location                                              1213 non-null object
Signup Date                                                  4366 non-null object
Cancel Date                                                  2071 non-null object
Cancel Reason                                                1826 non-null object
Shipments (note that these don't necessarily mean orders)    4366 non-null int64
Last Processed Date                                          3827 non-null object
Lifetime Value                                               4366 non-null object
Last Order Date                                              4344 non-null object
dtypes: int64(2), object(17)
memory usage: 648.2+ KB

**These have full values**
```
Club                                                         4366 non-null object
Customer Number                                              4366 non-null int64
Signup Date                                                  4366 non-null object
Shipments (note that these don't necessarily mean orders)    4366 non-null int64
Lifetime Value                                               4366 non-null object
```

**Need to fill NaNs for**
```
Club Status (Done)                                                4358 non-null object
Bill Birth Date  (Done ---> "age")                                           4026 non-null object
Ship City     (Calistoga)                                               4360 non-null object
Ship State Code   (CA)                                           4360 non-null object
Ship Zip          (94515)                                          4357 non-null object
Pickup Location    (Done ---> "isPickup")                                          1213 non-null object
Cancel Date        (Done ---> "clubLength")                                          2071 non-null object
Cancel Reason      (Keep NaNs?)                                         1826 non-null object
Last Processed Date                                         3827 non-null object
Last Order Date                                              4344 non-null object
```

**Don't need**
```
Bill City                                                    4361 non-null object
Bill State Code                                              4361 non-null object
Bill Zip                                                     4358 non-null object
```

**CLEAN UP Clubs**

In [4]:
nans = ["Club Status","Bill Birth Date","Ship Birth Date","Ship City","Ship State Code","Ship Zip","Pickup Location","Cancel Date","Cancel Reason","Last Processed Date","Last Order Date"]
delete = ["Bill City","Bill State Code","Bill Zip"]
keep = ["Club","Customer Number","Signup Date","Shipments (note that these don't necessarily mean orders)","Lifetime Value"]

In [5]:
clubs = clubs[nans + keep]

In [6]:
clubs["ltv"] = [float( "".join((ltv[1:].split(","))) ) for ltv in clubs["Lifetime Value"]]

In [7]:
clubs.loc[clubs["Club Status"].isna() & clubs["Cancel Date"].isna(),"Club Status"] = "Active"

In [8]:
clubs.loc[clubs["Club Status"].isna() & ~clubs["Cancel Reason"].isna(),"Club Status"] = "Cancelled"

In [9]:
clubs.loc[ (clubs["Bill Birth Date"].isna() & ~clubs["Ship Birth Date"].isna()) , "Bill Birth Date"] = clubs["Ship Birth Date"]

In [10]:
clubs.loc[ (~clubs["Bill Birth Date"].isna() & clubs["Ship Birth Date"].isna()) , "Ship Birth Date"] = clubs["Bill Birth Date"]

In [11]:
clubs.loc[ (clubs["Bill Birth Date"].isna() ),"Bill Birth Date" ] = str(1/1/20)

In [12]:
clubs["age"] = np.array( [(2019-int("19" + "".join(bd[-2::]))) for bd in clubs[~clubs["Bill Birth Date"].isna()]
                        ["Bill Birth Date"] ])

In [13]:
clubs.loc[(clubs["age"]==99),"age"] = clubs.loc[~(clubs["age"]==99),"age"].values.mean()

In [14]:
clubs.loc[clubs["Ship City"].isna(),"Ship City"] = "Calistoga"
clubs.loc[clubs["Ship State Code"].isna(),"Ship State Code"] = "CA"
clubs.loc[clubs["Ship Zip"].isna(),"Ship Zip"] = "94515"

In [15]:
clubs["isPickup"] = ~clubs["Pickup Location"].isna()

In [16]:
clubs["cancel"] = np.array([str(cancel).split("/")[0::2] for cancel in clubs["Cancel Date"]])

In [43]:
clubs["signup"] = [list(str(signup).split("/")[0::2]) for signup in clubs["Signup Date"]]

In [41]:
clubs["clubLength"] = [(int(end[1]) - int(start[1])) +  ((( (int(end[0])+12) - int(start[0]) ) % 12  ) / 12 ) if (len(end)==2) else (19 - int(start[1])) +  ((( (3+12) - int(start[0]) ) % 12  ) / 12 ) for end,start in zip(clubs["cancel"],clubs["signup"]) ]

In [42]:
clubs.sample(15)

,Club Status,Bill Birth Date,Ship Birth Date,Ship City,Ship State Code,Ship Zip,Pickup Location,Cancel Date,Cancel Reason,Last Processed Date,...,Customer Number,Signup Date,Shipments (note that these don't necessarily mean orders),Lifetime Value,ltv,age,isPickup,cancel,signup,clubLength
3616,Cancelled,6/1/72,6/1/72,El Dorado Hills,CA,95762,Tank Garage Winery,3/9/19,Switched Club Level,2/4/19,...,33264,9/10/18,3,"$2,115.54",2115.54,47.0,True,"[3, 19]","[9, 18]",1.500000
2308,Active,3/30/64,3/30/64,Cheyenne,WY,82009,NaN,NaN,NaN,2/4/19,...,22809,9/23/17,8,"$1,454.75",1454.75,55.0,False,[nan],"[9, 17]",2.500000
2488,Cancelled,9/22/81,9/22/81,Redwood City,CA,94063,NaN,3/6/19,Cutting Expenses/Lost Job,2/4/19,...,23431,11/17/17,7,"$1,628.54",1628.54,38.0,False,"[3, 19]","[11, 17]",2.333333
4129,Active,6/25/89,6/25/89,san francisco,CA,94118,Tank Garage Winery,NaN,NaN,NaN,...,35804,1/19/19,0,$143.52,143.52,30.0,True,[nan],"[1, 19]",0.166667
2993,Cancelled,11/13/85,11/13/85,Overland Park,KS,66211,NaN,12/21/18,Cutting Expenses/Lost Job,12/3/18,...,25816,4/14/18,3,$518.86,518.86,34.0,False,"[12, 18]","[4, 18]",0.666667
1132,Cancelled,9/7/75,9/7/75,modesto,CA,95356,Tank Garage Winery,9/17/18,NaN,NaN,...,16881,7/22/18,0,"$1,947.44",1947.44,44.0,True,"[9, 18]","[7, 18]",0.166667
2433,Cancelled,10/29/76,10/29/76,San Francisco,CA,94111,Tank Garage Winery,7/10/18,Suspend Until Further Notice,7/9/18,...,23276,11/4/17,4,$825.33,825.33,43.0,True,"[7, 18]","[11, 17]",1.666667
2457,Cancelled,4/8/52,4/8/52,Estacada,OR,97023,NaN,2/5/18,Cutting Expenses/Lost Job,2/5/18,...,23346,11/10/17,2,$274.03,274.03,67.0,False,"[2, 18]","[11, 17]",1.250000
2945,Cancelled,11/30/87,11/30/87,San Francisco,CA,94117,Tank Garage Winery,11/30/18,Cutting Expenses/Lost Job,NaN,...,25654,10/27/18,0,$348.79,348.79,32.0,True,"[11, 18]","[10, 18]",0.083333
3656,Cancelled,3/15/83,3/15/83,arlington,VA,22206,NaN,12/10/18,NaN,12/3/18,...,33439,9/19/18,1,$503.72,503.72,36.0,False,"[12, 18]","[9, 18]",0.250000
370,Cancelled,5/4/76,5/4/76,Greenville,SC,29607,NaN,2/3/16,Too Much Wine,9/28/15,...,11027,5/22/15,1,$783.97,783.97,43.0,False,"[2, 16]","[5, 15]",1.750000
1668,Active,5/11/68,5/11/68,Winter Springs,FL,32708,NaN,NaN,NaN,2/5/19,...,19940,3/12/17,8,"$2,055.10",2055.10,51.0,False,[nan],"[3, 17]",2.000000
1515,Active,2/3/78,2/3/78,Mill Valley,CA,94941,Tank Garage Winery,NaN,NaN,2/5/19,...,19198,3/3/17,9,"$2,918.64",2918.64,41.0,True,[nan],"[3, 17]",2.000000
3272,Active,3/8/90,3/8/90,Castro Valley,CA,94546,Tank Garage Winery,NaN,NaN,12/3/18,...,28238,6/26/18,3,$373.87,373.87,29.0,True,[nan],"[6, 18]",1.750000
1823,Cancelled,6/21/85,6/21/85,Tahoe vista,CA,96148,NaN,8/14/18,No Reason Given,7/9/18,...,20888,5/17/17,5,$850.63,850.63,34.0,False,"[8, 18]","[5, 17]",1.250000

**Drop**
```
Ship Birth Date
```
**Make index**
```
Customer Number
```

In [45]:
path = '../customer_list.csv'
customers = pd.read_csv(path)

In [46]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32820 entries, 0 to 32819
Data columns (total 10 columns):
Customer No.              32820 non-null int64
City                      10620 non-null object
State                     10658 non-null object
Zip Code                  10923 non-null object
Number Of Transactions    32817 non-null float64
Lifetime Value            32820 non-null object
Last Order Date           20185 non-null object
Last Order Amount         32820 non-null object
Date Added                32820 non-null object
Last Modified Date        32820 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.5+ MB

**Combine Customers (POS data?) onto Club**

In [52]:
# customers["ltv"] = [float("".join((ltv[1:].split(","))) ) for ltv in customers["Lifetime Value"]]
clubs = clubs.merge(customers[['Customer No.','Number Of Transactions','Lifetime Value','Last Order Date','Last Order Amount']],how="left",left_on="Customer Number",right_on="Customer No.")
clubs.sample(10)

,Club Status,Bill Birth Date,Ship Birth Date,Ship City,Ship State Code,Ship Zip,Pickup Location,Cancel Date,Cancel Reason,Last Processed Date,...,age,isPickup,cancel,signup,clubLength,Customer No.,Number Of Transactions,Lifetime Value_y,Last Order Date_y,Last Order Amount
2668,Active,9/3/66,9/3/66,Cincinnati,OH,45244,NaN,NaN,NaN,2/4/19,...,53.0,False,[nan],"[1, 18]",1.166667,24284,8.0,"$1,281.88",2/4/19,$173.34
2989,Cancelled,3/14/85,3/14/85,Los Angeles,CA,90015,NaN,11/7/18,No Reason Given,9/24/18,...,34.0,False,"[11, 18]","[4, 18]",0.583333,25807,3.0,$340.92,9/24/18,$157.96
1325,Cancelled,11/5/93,11/5/93,Napa,CA,94558,Tank Garage Winery,4/30/17,Moved/Difficult to Receive Shipments,11/21/16,...,26.0,True,"[4, 17]","[10, 16]",1.500000,17922,3.0,$256.57,11/28/16,$15.12
3578,Active,9/29/85,9/29/85,Atlanta,GA,30307,NaN,NaN,NaN,2/4/19,...,34.0,False,[nan],"[9, 18]",1.500000,33146,7.0,$686.56,2/4/19,$176.42
4066,Cancelled,10/22/82,10/22/82,Daly City,CA,94015,NaN,1/2/19,Other,NaN,...,37.0,False,"[1, 19]","[12, 18]",1.083333,35541,2.0,$50.00,1/2/19,$50.00
2504,Active,10/9/60,10/9/60,san clemente,CA,92673,Tank Garage Winery,NaN,NaN,2/4/19,...,59.0,True,[nan],"[11, 17]",2.333333,23495,9.0,"$1,232.94",2/4/19,$154.44
1577,Cancelled,11/22/74,11/22/74,San Francisco,CA,94107,NaN,11/27/18,Joined Another Winery's Club,9/25/18,...,45.0,False,"[11, 18]","[2, 17]",1.750000,19586,8.0,"$1,104.03",9/25/18,$157.96
2276,Active,2/19/90,1/1/00,Kent,WA,98032,NaN,NaN,NaN,2/4/19,...,29.0,False,[nan],"[9, 17]",2.500000,22718,10.0,"$1,392.75",2/4/19,$178.20
1943,Cancelled,8/1/61,8/1/61,San Rafael,CA,94901,NaN,9/2/18,Switched Club Level,7/9/18,...,58.0,False,"[9, 18]","[6, 17]",1.250000,21282,11.0,"$2,133.40",12/3/18,$307.54
4055,Active,3/10/75,3/10/75,kirkland,WA,98033,NaN,NaN,NaN,2/4/19,...,44.0,False,[nan],"[12, 18]",1.250000,35484,4.0,$685.35,2/4/19,$178.20

In [54]:
path = '../order_history.csv'
data = pd.read_csv(path)

**Aggregate totals by custid**

In [63]:
data["Total"] = data["Quantity"] * data["Price"]
customer_orders = data.groupby("Customer Number").sum()[["Quantity","Total"]]

In [64]:
customer_orders = customer_orders[customer_orders["Total"]!=0]

**Join Quantities and Totals on clubs**

In [66]:
clubs = clubs.merge(customer_orders,how="left",left_on="Customer Number",right_on="Customer Number")

In [69]:
clubs.sample(10)

,Club Status,Bill Birth Date,Ship Birth Date,Ship City,Ship State Code,Ship Zip,Pickup Location,Cancel Date,Cancel Reason,Last Processed Date,...,cancel,signup,clubLength,Customer No.,Number Of Transactions,Lifetime Value_y,Last Order Date_y,Last Order Amount,Quantity,Total
1486,Active,1/1/00,1/1/00,Union City,CA,94587,NaN,NaN,NaN,2/4/19,...,[nan],"[12, 16]",3.250000,18993,14.0,"$1,728.42",2/4/19,$172.44,NaN,NaN
1267,Cancelled,4/12/76,4/12/76,Novato,CA,94949,Tank Garage Winery,9/8/17,Cutting Expenses/Lost Job,11/21/16,...,"[9, 17]","[9, 16]",1.000000,17562,7.0,"$1,046.66",9/3/17,$126.07,38.0,1158.15
2157,Active,9/11/84,9/11/84,Petaluma,CA,94952,NaN,NaN,NaN,2/4/19,...,[nan],"[8, 17]",2.583333,22223,13.0,"$1,379.78",2/17/19,$31.03,NaN,NaN
64,Active,8/7/48,8/7/48,Conyers,GA,30012,NaN,NaN,NaN,2/4/19,...,[nan],"[8, 14]",5.583333,7745,25.0,"$5,072.00",2/4/19,$173.34,47.0,1855.80
833,Cancelled,8/21/77,8/21/77,niceville,FL,32578,NaN,9/30/16,No Reason Given,9/20/16,...,"[9, 16]","[2, 16]",0.583333,14690,3.0,$339.66,9/20/16,$162.00,12.0,301.50
2450,Active,7/13/87,7/13/87,Chicago,IL,60654,NaN,NaN,NaN,2/4/19,...,[nan],"[11, 17]",2.333333,23329,11.0,"$1,712.01",2/4/19,$172.13,NaN,NaN
1616,Cancelled,8/9/72,8/9/72,Moraga,CA,94556,NaN,1/29/19,Switched Club Level,12/3/18,...,"[1, 19]","[12, 17]",2.083333,19712,22.0,"$3,584.73",2/4/19,$143.48,NaN,NaN
2173,Active,2/7/91,1/1/90,Houston,TX,77019,NaN,NaN,NaN,2/4/19,...,[nan],"[8, 17]",2.583333,22301,11.0,"$1,627.01",2/8/19,$31.66,NaN,NaN
2627,Active,11/28/88,11/28/88,Anchorage,AK,99507,NaN,NaN,NaN,2/4/19,...,[nan],"[1, 18]",1.166667,24112,7.0,"$1,090.97",2/4/19,$198.50,NaN,NaN
3184,Cancelled,8/20/73,8/20/73,Wichita,KS,67204-1852,NaN,7/3/18,Testing/Accident,NaN,...,"[7, 18]","[6, 18]",0.083333,27838,13.0,"$2,374.86",2/19/19,$86.54,NaN,NaN

In [55]:
data.head(10)

,OrderNumber,Customer Number,OrderCompletedDate,orderstatus,ordertype,BillCustomerNumber,ShipStateCode,BillBirthDate,ShipZipCode,BillCity,BillZipCode,isPickup,Quantity,ProductType,ProductSKU,originalPrice,Price
0,48788,1008,2017-09-23 15:42:57,Completed,POS,NaN,CA,NaN,94515,Calistoga,94515,True,1,Wine,44.15.750.TK.RB.TE,45.0,31.5
1,48788,1008,2017-09-23 15:42:57,Completed,POS,NaN,CA,NaN,94515,Calistoga,94515,True,1,Product,CL.HT.3200.BK,20.0,14.0
2,48788,1008,2017-09-23 15:42:57,Completed,POS,NaN,CA,NaN,94515,Calistoga,94515,True,2,Wine,47.15.750.TK.RB.LYS,50.0,35.0
3,48788,1008,2017-09-23 15:42:57,Completed,POS,NaN,CA,NaN,94515,Calistoga,94515,True,5,Product,TK.GC,0.0,0.0
4,48788,1008,2017-09-23 15:42:57,Completed,POS,NaN,CA,NaN,94515,Calistoga,94515,True,2,Wine,44.14.750.TK.CS.RB,55.0,38.5
5,48788,1008,2017-09-23 15:42:57,Completed,POS,NaN,CA,NaN,94515,Calistoga,94515,True,4,Product,TK.GCIN,0.0,0.0
6,104967,5002,2019-03-14 18:43:46,Completed,Promo,5002.0,CA,1920-01-01,94515,Calistoga,94515,True,1,Wine,78.17.750.TK.DFH.RW,60.0,0.0
7,104967,5002,2019-03-14 18:43:46,Completed,Promo,5002.0,CA,1920-01-01,94515,Calistoga,94515,True,1,Wine,85.16.750.TK.LN.RW,40.0,0.0
8,104033,5002,2019-03-01 17:53:22,Completed,Promo,5002.0,CA,1920-01-01,94515,Calistoga,94515,True,1,Wine,85.16.750.TK.LN.RW,40.0,0.0
9,103858,5002,2019-02-27 18:35:11,Completed,POS,5002.0,CA,1920-01-01,94515,Calistoga,94515,True,1,Wine,85.16.750.TK.LN.RW,40.0,0.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 17 columns):
OrderNumber           65499 non-null int64
Customer Number       65499 non-null int64
OrderCompletedDate    65499 non-null object
orderstatus           65499 non-null object
ordertype             65499 non-null object
BillCustomerNumber    64609 non-null float64
ShipStateCode         65356 non-null object
BillBirthDate         44781 non-null object
ShipZipCode           65356 non-null object
BillCity              53068 non-null object
BillZipCode           53267 non-null object
isPickup              65499 non-null bool
Quantity              65499 non-null int64
ProductType           65499 non-null object
ProductSKU            65499 non-null object
originalPrice         65499 non-null float64
Price                 65499 non-null float64
dtypes: bool(1), float64(3), int64(3), object(10)
memory usage: 8.1+ MB

**Cells with NaNs**
```
BillCustomerNumber    64609 non-null float64
ShipStateCode         65356 non-null object
BillBirthDate         44781 non-null object
ShipZipCode           65356 non-null object
BillCity              53068 non-null object
BillZipCode           53267 non-null object
```

In [10]:
( data[data["BillCustomerNumber"].isna()]["Quantity"]*data[data["BillCustomerNumber"].isna()]["Price"] ).sum()

21163.519999999997

In [11]:
( data[~data["BillCustomerNumber"].isna()]["Quantity"]*data[~data["BillCustomerNumber"].isna()]["Price"] ).sum()

2552475.26

In [2]:
import pandas as pd
import numpy as np
from src import eda

In [3]:
data = eda.get_dataframe("data/Order-Data-Sample.csv")

In [4]:
type(data["ShipStateCode"].values[0])

str

In [5]:
data = eda.eliminate_noise_cols(data)

In [6]:
eda.print_stats(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 19 columns):
OrderNumber             24 non-null int64
OrderCompletedDate      24 non-null object
ordertype               24 non-null object
OrderCompletedDate.1    24 non-null object
BillCustomerNumber      22 non-null float64
ShipStateCode           24 non-null object
BillBirthDate           22 non-null object
BillCity                24 non-null object
isPickup                24 non-null bool
ShipCity                24 non-null object
SalesAssociate          24 non-null object
shipmentCount           0 non-null float64
ClubName                0 non-null float64
clubShipmentName        0 non-null float64
Quantity                24 non-null int64
ProductType             24 non-null object
ProductTitle            24 non-null object
originalPrice           24 non-null float64
Price                   24 non-null float64
dtypes: bool(1), float64(6), int64(2), object(10)
memory usage: 3.5+ KB
None
         OrderNumber  BillCustomerNumber  shipmentCount  ClubName  \
count      24.000000           22.000000            0.0       0.0
mean   105202.333333        11278.818182            NaN       NaN
std         2.140026        12043.455977            NaN       NaN
min    105199.000000         5006.000000            NaN       NaN
25%    105201.000000         5008.000000            NaN       NaN
50%    105201.500000         5008.000000            NaN       NaN
75%    105204.000000         5008.000000            NaN       NaN
max    105207.000000        38198.000000            NaN       NaN

       clubShipmentName   Quantity  originalPrice      Price
count               0.0  24.000000      24.000000  24.000000
mean                NaN   3.333333      39.091667   4.331250
std                 NaN   2.180281      17.178650  12.838155
min                 NaN   1.000000       0.000000   0.000000
25%                 NaN   1.000000      30.000000   0.000000
50%                 NaN   3.000000      35.000000   0.000000
75%                 NaN   4.000000      48.750000   0.000000
max                 NaN   8.000000      65.000000  55.250000
OrderCompletedDate ['2019-03-16 19:16:18' '2019-03-16 18:56:10' '2019-03-16 18:46:40'
 '2019-03-16 18:45:53' '2019-03-16 18:44:17' '2019-03-16 18:41:15'
 '2019-03-16 18:37:55' '2019-03-16 18:36:41']
ordertype ['Promo' 'POS']
OrderCompletedDate.1 ['2019-03-16 19:16:18' '2019-03-16 18:56:10' '2019-03-16 18:46:40'
 '2019-03-16 18:45:53' '2019-03-16 18:44:17' '2019-03-16 18:41:15'
 '2019-03-16 18:37:55' '2019-03-16 18:36:41']
ShipStateCode ['CA' 'PA']
BillBirthDate ['1920-01-01' '1984-07-13' nan '1992-03-20']
BillCity ['Calistoga' 'Bensalem' 'Chicago']
ShipCity ['Calistoga' 'Bensalem']
SalesAssociate ['Promo' 'Mario Gallardo' 'Austin Giuliano']
ProductType ['Wine' 'Product']
ProductTitle ['2018 Stars Like Ours, RosÃ©, California'
 'Lords of the Boulevard T-Shirt White'
 '2017 Petty Cash, White Wine, Napa Valley'
 '2017 HUF Downhill from Here, Red Wine, California'
 '2017 Airwaves, White Wine, California'
 '2016 Lords of the Boulevard, Red Wine, Napa Valley'
 'Too Much To Dream, Red Wine, Napa Valley'
 '2017 Young, Wild & Free, Zinfandel, Dry Creek Valley'
 '2016 Love Now More Than Ever, Red Wine, California'
 'Tank Logo T-Shirt Gray' 'Decanter (750 ml)'
 '2016 Deliver Us From Evil, Red Wine, Napa Valley' 'Tasting'
 'Guest Count']

In [7]:
data["OrderCompletedDate"][0][:10]

'2019-03-16'

In [8]:
data["CalendarDate"] = np.array([x[:10] for x in data["OrderCompletedDate"]])

In [9]:
data = data.drop(columns=["OrderCompletedDate","OrderCompletedDate.1"])

In [10]:
data.head()

,OrderNumber,ordertype,BillCustomerNumber,ShipStateCode,BillBirthDate,BillCity,isPickup,ShipCity,SalesAssociate,shipmentCount,ClubName,clubShipmentName,Quantity,ProductType,ProductTitle,originalPrice,Price,CalendarDate
0,105207,Promo,5006.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,4,Wine,"2018 Stars Like Ours, RosÃ©, California",22.0,0.0,2019-03-16
1,105206,Promo,28868.0,CA,1984-07-13,Bensalem,True,Calistoga,Promo,NaN,NaN,NaN,1,Product,Lords of the Boulevard T-Shirt White,30.0,0.0,2019-03-16
2,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,6,Wine,"2017 Petty Cash, White Wine, Napa Valley",35.0,0.0,2019-03-16
3,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,3,Wine,"2017 HUF Downhill from Here, Red Wine, California",60.0,0.0,2019-03-16
4,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,1,Wine,"2017 Airwaves, White Wine, California",32.0,0.0,2019-03-16

**This aggregates revenue at the customer level:**

In [11]:
data["Total"] = data["Quantity"] * data["Price"]
revenue_by_user = data.groupby("BillCustomerNumber").sum()["Total"]

In [12]:
revenue_by_user

BillCustomerNumber
5006.0      0.00
5008.0      0.00
28868.0    80.75
38198.0     0.00
Name: Total, dtype: float64

In [13]:
data.sample(5)

,OrderNumber,ordertype,BillCustomerNumber,ShipStateCode,BillBirthDate,BillCity,isPickup,ShipCity,SalesAssociate,shipmentCount,ClubName,clubShipmentName,Quantity,ProductType,ProductTitle,originalPrice,Price,CalendarDate,Total
2,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,6,Wine,"2017 Petty Cash, White Wine, Napa Valley",35.0,0.0,2019-03-16,0.0
10,105203,POS,28868.0,CA,1984-07-13,Bensalem,True,Calistoga,Mario Gallardo,NaN,NaN,NaN,1,Product,Tank Logo T-Shirt Gray,30.0,25.5,2019-03-16,25.5
20,105200,POS,NaN,CA,NaN,Calistoga,True,Calistoga,Austin Giuliano,NaN,NaN,NaN,3,Product,Tasting,23.2,23.2,2019-03-16,69.6
17,105201,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,4,Wine,"2018 Stars Like Ours, RosÃ©, California",22.0,0.0,2019-03-16,0.0
8,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,1,Wine,"2017 Young, Wild & Free, Zinfandel, Dry Creek ...",45.0,0.0,2019-03-16,0.0

In [31]:
conditions = (data["ordertype"]=="Promo") & (data["ProductType"]=="Wine")
cogs = data[conditions]
total_bottles_poured = cogs.groupby("CalendarDate").sum()["Quantity"]

In [30]:
total_bottles

CalendarDate
2019-03-16    69
Name: Quantity, dtype: int64