In [2]:
import pandas as pd
import numpy as np
from src import eda

In [3]:
data = eda.get_dataframe("data/Order-Data-Sample.csv")

In [4]:
type(data["ShipStateCode"].values[0])

str

In [5]:
data = eda.eliminate_noise_cols(data)

In [6]:
eda.print_stats(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 19 columns):
OrderNumber             24 non-null int64
OrderCompletedDate      24 non-null object
ordertype               24 non-null object
OrderCompletedDate.1    24 non-null object
BillCustomerNumber      22 non-null float64
ShipStateCode           24 non-null object
BillBirthDate           22 non-null object
BillCity                24 non-null object
isPickup                24 non-null bool
ShipCity                24 non-null object
SalesAssociate          24 non-null object
shipmentCount           0 non-null float64
ClubName                0 non-null float64
clubShipmentName        0 non-null float64
Quantity                24 non-null int64
ProductType             24 non-null object
ProductTitle            24 non-null object
originalPrice           24 non-null float64
Price                   24 non-null float64
dtypes: bool(1), float64(6), int64(2), object(10)
memory usage: 3.5+ KB
None
         OrderNumber  BillCustomerNumber  shipmentCount  ClubName  \
count      24.000000           22.000000            0.0       0.0
mean   105202.333333        11278.818182            NaN       NaN
std         2.140026        12043.455977            NaN       NaN
min    105199.000000         5006.000000            NaN       NaN
25%    105201.000000         5008.000000            NaN       NaN
50%    105201.500000         5008.000000            NaN       NaN
75%    105204.000000         5008.000000            NaN       NaN
max    105207.000000        38198.000000            NaN       NaN

       clubShipmentName   Quantity  originalPrice      Price
count               0.0  24.000000      24.000000  24.000000
mean                NaN   3.333333      39.091667   4.331250
std                 NaN   2.180281      17.178650  12.838155
min                 NaN   1.000000       0.000000   0.000000
25%                 NaN   1.000000      30.000000   0.000000
50%                 NaN   3.000000      35.000000   0.000000
75%                 NaN   4.000000      48.750000   0.000000
max                 NaN   8.000000      65.000000  55.250000
OrderCompletedDate ['2019-03-16 19:16:18' '2019-03-16 18:56:10' '2019-03-16 18:46:40'
 '2019-03-16 18:45:53' '2019-03-16 18:44:17' '2019-03-16 18:41:15'
 '2019-03-16 18:37:55' '2019-03-16 18:36:41']
ordertype ['Promo' 'POS']
OrderCompletedDate.1 ['2019-03-16 19:16:18' '2019-03-16 18:56:10' '2019-03-16 18:46:40'
 '2019-03-16 18:45:53' '2019-03-16 18:44:17' '2019-03-16 18:41:15'
 '2019-03-16 18:37:55' '2019-03-16 18:36:41']
ShipStateCode ['CA' 'PA']
BillBirthDate ['1920-01-01' '1984-07-13' nan '1992-03-20']
BillCity ['Calistoga' 'Bensalem' 'Chicago']
ShipCity ['Calistoga' 'Bensalem']
SalesAssociate ['Promo' 'Mario Gallardo' 'Austin Giuliano']
ProductType ['Wine' 'Product']
ProductTitle ['2018 Stars Like Ours, Rosé, California'
 'Lords of the Boulevard T-Shirt White'
 '2017 Petty Cash, White Wine, Napa Valley'
 '2017 HUF Downhill from Here, Red Wine, California'
 '2017 Airwaves, White Wine, California'
 '2016 Lords of the Boulevard, Red Wine, Napa Valley'
 'Too Much To Dream, Red Wine, Napa Valley'
 '2017 Young, Wild & Free, Zinfandel, Dry Creek Valley'
 '2016 Love Now More Than Ever, Red Wine, California'
 'Tank Logo T-Shirt Gray' 'Decanter (750 ml)'
 '2016 Deliver Us From Evil, Red Wine, Napa Valley' 'Tasting'
 'Guest Count']

In [7]:
data["OrderCompletedDate"][0][:10]

'2019-03-16'

In [8]:
data["CalendarDate"] = np.array([x[:10] for x in data["OrderCompletedDate"]])

In [9]:
data = data.drop(columns=["OrderCompletedDate","OrderCompletedDate.1"])

In [10]:
data.head()

,OrderNumber,ordertype,BillCustomerNumber,ShipStateCode,BillBirthDate,BillCity,isPickup,ShipCity,SalesAssociate,shipmentCount,ClubName,clubShipmentName,Quantity,ProductType,ProductTitle,originalPrice,Price,CalendarDate
0,105207,Promo,5006.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,4,Wine,"2018 Stars Like Ours, Rosé, California",22.0,0.0,2019-03-16
1,105206,Promo,28868.0,CA,1984-07-13,Bensalem,True,Calistoga,Promo,NaN,NaN,NaN,1,Product,Lords of the Boulevard T-Shirt White,30.0,0.0,2019-03-16
2,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,6,Wine,"2017 Petty Cash, White Wine, Napa Valley",35.0,0.0,2019-03-16
3,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,3,Wine,"2017 HUF Downhill from Here, Red Wine, California",60.0,0.0,2019-03-16
4,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,1,Wine,"2017 Airwaves, White Wine, California",32.0,0.0,2019-03-16

**This aggregates revenue at the customer level:**

In [11]:
data["Total"] = data["Quantity"] * data["Price"]
revenue_by_user = data.groupby("BillCustomerNumber").sum()["Total"]

In [12]:
revenue_by_user

BillCustomerNumber
5006.0      0.00
5008.0      0.00
28868.0    80.75
38198.0     0.00
Name: Total, dtype: float64

In [13]:
data.sample(5)

,OrderNumber,ordertype,BillCustomerNumber,ShipStateCode,BillBirthDate,BillCity,isPickup,ShipCity,SalesAssociate,shipmentCount,ClubName,clubShipmentName,Quantity,ProductType,ProductTitle,originalPrice,Price,CalendarDate,Total
2,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,6,Wine,"2017 Petty Cash, White Wine, Napa Valley",35.0,0.0,2019-03-16,0.0
10,105203,POS,28868.0,CA,1984-07-13,Bensalem,True,Calistoga,Mario Gallardo,NaN,NaN,NaN,1,Product,Tank Logo T-Shirt Gray,30.0,25.5,2019-03-16,25.5
20,105200,POS,NaN,CA,NaN,Calistoga,True,Calistoga,Austin Giuliano,NaN,NaN,NaN,3,Product,Tasting,23.2,23.2,2019-03-16,69.6
17,105201,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,4,Wine,"2018 Stars Like Ours, Rosé, California",22.0,0.0,2019-03-16,0.0
8,105204,Promo,5008.0,CA,1920-01-01,Calistoga,True,Calistoga,Promo,NaN,NaN,NaN,1,Wine,"2017 Young, Wild & Free, Zinfandel, Dry Creek ...",45.0,0.0,2019-03-16,0.0

In [16]:
def get_time_periods(data):
    ordered = data.orderby(["CalendarDate"])
    return ordered

In [17]:
ordered = get_time_periods(data)

AttributeError: 'DataFrame' object has no attribute 'orderby'